{% extends 'layout.html' %}

{% set active_page = "Analysis" %}
{% block title %}Analysis | {{session['filename']}}{% endblock %}
{% block content %}
<div class="dataView p-4 my-4">
    {% if preview %}
        <div class="preview h-full max-h-[250px] overflow-auto border-2 border-lime-700 p-2">
            {#{preview}#}<br>
            {{analysis.info}}<br>
        </div>        
    {% endif %}
    <div class="flex flex-col justify-center my-4">
        <h2 class="text-xl font-bold text-center my-4">Data Sample</h2>
        <p class="text-center">Sample from the data source you provided</p><br>
        <table id="myTable" class="data-table table-auto border-collapse border border-slate-500 stripe hover">
            <thead>
                <tr>
                    {% for column in analysis.columns %}
                        <th class="p-2 border border-slate-500">{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in analysis.records %}
                    <tr>
                    {% for prop, value in record.items() %}
                        <td class="p-2 border border-slate-500" contenteditable="true">{{ value }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    
    <div class="flex flex-col justify-center mt-4 p-2">
        <h2 class="text-xl font-bold text-center my-4">Analysis Table</h2>
        <p class="text-center">We will ideally implement lots of filters and modification actions on this table.</p><br>
        <table class="data-table table-auto border-collapse rounded border-2 border-slate-500 border-purple-700 stripe hover">
            {% set qualities = (analysis.info.values() | first) %}
            <br>
            <thead>
                <tr>
                    <th class="p-2 border border-slate-500">*-*</th>
                    {% for quality in qualities %}
                        <th class="p-2 border border-slate-500">{{quality}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for property in analysis.info %}
                <tr>
                    <th class="p-2 border border-slate-500"><span>{{property}}</span></th>
                    {% for name, value in analysis.info[property].items() %}
                    <td class="p-2 border border-slate-500">{{value}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br>
{% endblock %}