<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema Analysis</title>
</head>
<body>
    <h1>Analysis Table</h1>
    <p>We will ideally implement lots of filters and modification actions on this table.</p>
    <table>
        <thead>
            <th>Let</th>
            <th>Us</th>
            <th>Proceed</th>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</body>
</html>