{% extends 'layout.html' %}

{% set active_page = "Design" %}
{% block title %}Designer {% endblock %}
{% block content %}
<div class="dataView p-4 my-4">
    {% if tables %}
        <div class="preview h-full max-h-[250px] overflow-auto border-2 border-lime-700 p-2">
            {{tables}}<br>
            {#{analysis.info}#}<br>
        </div>        
    {% endif %}
    <div>You are now rocking with schema designs. Get data from file here</div>
    <div>
        <table id="designTable" class="data-table table-auto border-collapse border border-slate-500 stripe hover">
            <thead>
                <tr>
                    {% for column in tables.schema.columns %}
                        <th class="p-2 border border-slate-500">{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in tables.records %}
                    <tr>
                    {% for prop, value in record.items() %}
                        <td class="p-2 border border-slate-500" contenteditable="true">{{ value }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
<br><br>
{% endblock %}