<h2>Upload the source document here</h2>    
<form action="{{ url_for('web.upload_file') }}" method="post" enctype="multipart/form-data">
    <label for="file">Excel File:</label>
    <input type="file" name="file" id="file" accept=".xlsx,.csv"><br>
    <label for="mapping">Column Mapping (optional):</label>
    <input type="file" name="mapping" id="mapping" accept=".json"><br>
    <input class="button p-4 bg-emerald-900 cursor-pointer rounded font-bold text-white" type="submit" value="Extract Data">
</form>

{% if data %}
{{data.info}}
    <div class="mt-4">
        {{data.columns}}
        <h2 class="h2 text-xl font-bold text-emerald-900">Data extracted successfully!</h2>
        <fieldset class="flex justify-between">
            <form action="{{ url_for('web.analyze_schema') }}" method="post">
                <input type="hidden" name="filedata" value="{{ data }}">
                <input class="button p-4 bg-indigo-700 cursor-pointer rounded font-bold text-white" type="submit" value="Analyze Schema">
            </form>
            <form action="{{ url_for('web.download_schema') }}" method="post">
                <input type="hidden" name="filedata" value="{{ data|tojson }}">
                <input class="button p-4 bg-sky-700 cursor-pointer rounded font-bold text-white" type="submit" value="Download JSON Data">
            </form>    
        </fieldset>
    </div>
{% endif %}
